@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

ol, ul{
    list-style: none;
}

body{
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Manrope', sans-serif;
    background-color: black;
}
