.footer-bg{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 260px auto 100px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: -280px auto 100px;

    // ::after{
    //     display: block;
    //     content: "";
    //     width: 897px;
    //     height: 280px;
    //     background: url(../img/footer-bg) no-repeat;
    //     background-size: cover;

    //     position: absolute;
    // }
}

.footer-btn{
    display: block;
    content: "";
    width: 64px;
    height: 64px;
    background: url(../img/footer-fixed.png) no-repeat;
    background-size: cover;
    position: fixed;
    bottom: 80px;
    right: 85px;
}


@media only screen and (min-width: 320px) and (max-width: 425px) {
    .footer-bg{
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin: 180px auto 80px;
    }
    
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
    
        margin: -150px auto 127px;
    
    }
    
    .footer-btn{
        display: block;
        content: "";
        width: 37px;
        height: 37px;
        background: url(../img/footer-fixed-mobile.png) no-repeat;
        background-size: cover;
        position: fixed;
        bottom: 50px;
        right: 20px;
    }
}