.header{
    width: 100%;
    height: 900px;
    background: url(../img/bg-desktop.jpg) no-repeat;
    background-size: cover;

    padding: 50px 0 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
   
    &-top{
        text-align: center;
        &-logo{
            width: 400px;
            height: 113px;
        }
    
        &-title{
            font-size: 24px;
            font-weight: 400;
            color: rgba(0, 0, 0, 1);
            margin-top: 50px;
        }
    
    }

    &-button{
        border: 2px solid white;
        width: 221px;
        height: 54px;

        display: flex;
        justify-content: center;
        justify-content: center;
        align-items: center;
        

        // margin-top: 470px;
        a{
            text-decoration: none;
            font-size: 20px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
        }
    }

}

@media only screen and (min-width: 320px) and (max-width:425px) {
    .header{
        width: 100%;
        height: 812px;
        background: url(../img/bg-mobile.jpg) no-repeat;
        background-size: cover;
    
        padding: 60px 0 50px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
       
        &-top{
            text-align: center;
            margin: 0 2%;
            &-logo{
                width: 200px;
                height: 56px;

            }
        
            &-title{
                font-size: 18px;
                line-height: 24px;
                margin-top: 32px;

                color: #000000;
            }
        
        }
    
        &-button{
            width: 90%;
            
        }
    
    }
}



