.hero{
    list-style: none;
    padding: 0;

    &-card:last-child{
        margin-top: 100px;
    }
    &-card{
        color: white;
        width: 100%;
       

        margin-top: 200px;
        &-item{
           display: flex;
           justify-content: space-between;
           align-items: flex-start;

           &-info{
              width: 43%;

              h3{
                font-weight: 600;
                font-size: 28px;
                line-height: 38px;
                margin: 0;
              }

              p{
                font-weight: normal;
                font-size: 20px;
                line-height: 30px;
              }
           }

           &-img{
               width: 52%;


               img{
                   width: 100%;
                   height: 336px;
               }
           }
        }

    }
}



@media only screen and (min-width: 320px) and (max-width: 425px) {
    .hero{
        list-style: none;
        padding: 0;
    
        &-card{
            width: 100%;
           
            margin-top: 180px;
            &-item{
               display: flex;
               justify-content: space-between;
               align-items: center;

               flex-direction: column;
    
               &-info{
                  width: 100%;
    
                  h3{
                    font-size: 24px;
                    line-height: 33px;
                  }
    
                  p{
                    font-size: 16px;
                    line-height: 26px;
                  }
               }
    
               &-img{
                   width: 100%;
    
    
                   img{
                       width: 100%;
                       height: 190px;
                   }
               }
            }
    
        }


        &-card:last-child{
            margin-top: 70px;

           &-item{
            display: flex;
            flex-direction: column-reverse;
           }
        }
    }
}


