.main{
    list-style: none;
    padding: 0;
    margin-top: 120px;
    &-card{
        margin-top: 80px;
        &-title{
            color: white;

            width: 85%;
            h3{
                font-size: 28px;
                font-weight: 600;
                line-height: 38px;
                margin-bottom: 0;
            }
            p{
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                margin-top: 12px;
            }
        }

        &-img{
            width: 100%;
           
            img{
                width: 100%;
                height: 636px;
            }
        }

        // .for-bg{
        //     display: block;
        //     content: "";
        //     width: 500px;
        //     height: 1000px;
        //     background: url(../img/performance-bg) no-repeat;
        //     background-size: cover;

        //     position: absolute;
        //     top: 3700px;
        //     right: -100px;
        //     z-index: 20;
        // }
    }
}


@media only screen and (min-width: 320px) and (max-width: 425px) {
    .main{
        list-style: none;
        padding: 0;
        margin-top: 110px;
        &-card{
            margin-top: 70px;
            &-title{
                color: white;
    
                width: 100%;
                h3{
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 0;
                }
                p{
                    font-size: 16px;
                    line-height: 26px;
                    margin-top: 18px;
                }
            }
    
            &-img{
                width: 100%;
               
                img{
                    width: 100%;
                    height: 190px;
                }
            }
        }
    }
}